/* Título Calendario*/
.page-title {
  font-weight: bold;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
}

/*Modal*/
.header-title {
  font-size: 1.1rem; /* Tamaño del texto del header */
  font-weight: bold; /* Negrita */
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
}

.form-label {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
}

.custom-modal-header .btn-close {
  filter: invert(1); /* Convierte el x a blanco */
}

/*Btn Nuevo Evento¨*/
.new-event-btn {
  background-color: #a765fe !important;
  border-color: #a765fe !important;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Selección nuevo evento btn*/
.new-event-btn:hover {
  background-color: #8551c9 !important;
  border-color: #8551c9 !important;
}

.my-custom-header {
  background-color: #a765fe; /* Color headear btn-nuevo-evento*/
}

/*Diseño botón Aceptar*/
#eventModal .btn-success {
  background-color: #4fad6b; 
  border-color: #4fad6b;
  font-size: 0.9rem;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Diseño botón cancelar*/
.btn-secondary{
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

/* Borde del calendario */
:host ::ng-deep .fc .fc-scrollgrid {
  border-collapse: collapse !important; /* Une los bordes */
}
:host ::ng-deep .fc .fc-scrollgrid td,
:host ::ng-deep .fc .fc-scrollgrid th {
  border: 1px solid #04bac0 !important;
}

/* Botones del calendario */
@layer overrides {
  body .fc button {
    all: unset;
    background-color: #04bac0 !important;
    border-color: #04bac0 !important;
    color: white !important;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 3px;
  }

  body .fc button:hover {
    background-color: #07a8ad !important; 
    border-color: #07a8ad !important;
  }
}

/* Reglas para evitar la deformación */
#calendar-page .card {
  overflow: hidden;
}

#calendar {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

/* Para pantallas grandes */
@media (min-width: 768px) {
  #calendar-page .card-body {
    min-height: 800px;
  }
}

/*Colorear tarjeta del calendario*/
.card {
  background-color: #e8e9ff;
  border-radius: 10px;
  border: none;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Fuente*/
}

.card-body {
  background-color: #e8e9ff;
  border-radius: 10px;
  border: none;
}

/*Ajustar espaciado*/
.content-header {
  margin-bottom: 13px;
}

/* Color de fondo del día actual */
::ng-deep .fc-day-today {
  background-color: #04bac021 !important; 
}


/* Elimina el Espacio Vacío bajo el calendario */
@media (min-width: 600px) {
  #calendar-page .card-body {
    min-height: unset; 
  }
}
:host ::ng-deep .fc-view-harness {
  flex: 1; /* Hace que el contenido del calendario sea flexible */
}