/*Colorear tarjeta Dashboard,Actividades,etc*/
.sidebar  {
  background-color: #e8e9ff;
  border-radius: 10px;
  border: none;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Fuente*/
}
.menu-label {
  color: #000000 !important;
}
.sidebar-header {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
}

/*Posición del logo Paymen latam*/
.logo-container {
  position: fixed;
  background-color: white;
  padding: 10px 15px;
  width: 190px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.logo-img {
  width: 200px; /*Tamaño del logo*/
  height: auto;
}

/*Solo logo*/
.logo-text {
  display: none; 
}

/*Evitar que el logo se superponga con el sidebar */
.sidebar {
  margin-top: 80px;/*Distancia entre el logo y el sidebar*/
}


/* Estilo para el botón de toggle (si se usa en pantallas pequeñas) */
.sidebar-toggle {
  margin-right: auto; /* Mantiene el botón a la izquierda si se necesita */
}

/* Estilo para el contenedor de usuario */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Imagen de perfil */
.profile-img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}

/* Topbar alineado a la derecha */
.topbar {
  position: fixed;
  top: 0;
  left: 250px; /* mismo ancho que el sidebar */
  right: 0;
  height: 80px;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: flex-end; /* contenido alineado a la derecha */
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}

/* Nombre del usuario con fuente más grande */
.user-info span.fw-bold {
  font-size: 1.1rem;
}

/* Scroll solo en esta sección */
.scroll {
  margin-top: 60px; /* misma altura que topbar */
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 20px;
}
